.carousel-inner{
	height: 180px;
	width: 790px;
	margin-left: 240px;
}

.item{
	height: 120px;	
}

.active{
	height: 120px;
}

.carousel-caption{
	top: -15px;
}

.carousel-indicators{
	bottom: 5px;
	left: 640px;
}