#content-carrousel{
	margin-left: 0px auto;
	height: 100px;
}

#img-item{

}

.carousel-inner{
	height: 180px;
	width: 100%;
	margin: 0px auto;
}

.item{
	height: 120px;	
}


.carousel-caption{
	top: -15px;
}


@media (max-width: 767px) {
	
	
	.carousel-inner{
		height: 180px;
		width: 100%;

	}
}

@media (max-width: 976px) {
	
	
	.carousel-inner{
		height: 180px;
		width: 100%;

	}
} 

