.footer {
  position: relative;
  bottom: 0;
  width: 100%;
  border-top: 4px solid #FF6B02;
  height: 100%;
  background-color: #181C33;
}

.footer{
  color: white;
}

.modal-title{
  color: #FF6B02;
}

.modal-body{
  min-height: 100px;
}

.footer h3, h5{
  margin-bottom: 10px;
  font-weight: bold;
}

.footer img{
  width: 90px;
  margin-right: 30px;
}

.footer a{
  color: #FF6B02;
}

.footer .btn a{
  color: #FFFFFF;
}

.footer span{
  margin-right: 9px;
}

.footer .down span{
  margin: 0;
  margin-top: 16px;
}

.footer .foot-btn{
  background-color: transparent;
  color: #FF6B02;
  border: 1px solid #FF6B02;
}

.footer .foot-btn:hover{
  color: #FFFFFF;
  border: 1px solid #FFFFFF;
}
